li.tree-view-item a{
    cursor: pointer;
}

li.tree-view-item a.tree-selected{
    background-color: #7fbdff;
}

li.tree-view-item{
    list-style-type: none;
    padding-left: 20px;
    background-position: 0 0;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

li.tree-view-item-expanded{
    background-image: url(../node_modules/@fortawesome/fontawesome-free/svgs/solid/folder-open.svg);
}

li.tree-view-item-collapsed{
    background-image: url(../node_modules/@fortawesome/fontawesome-free/svgs/solid/folder.svg);
}
